.range {
  appearance: none;
  background-color: transparent;
  margin: 0;
  outline: none;
  position: relative;
  width: 100%;
  z-index: 1;
}

.track {
  height: 22px;
  position: relative;
}

.track::before {
  background: linear-gradient(180deg, #181725 0%, #7d7d91 100%);
  border-radius: 24px;
  bottom: 5px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
}

.track::after {
  border-radius: 20px;
  bottom: 7px;
  content: '';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 7px;
}

.range0::after {
  background: linear-gradient(180deg, #1c6c14 0%, #28991c 100%);
}

.range1::after {
  background: linear-gradient(180deg, #2f811b 0%, #42b626 100%);
}

.range2::after {
  background: linear-gradient(180deg, #478627 0%, #65be37 100%);
}

.range3::after {
  background: linear-gradient(180deg, #519b2c 0%, #73dc3e 100%);
}

.range4::after {
  background: linear-gradient(180deg, #5c9b2c 0%, #82dc3e 100%);
}

.range5::after {
  background: linear-gradient(180deg, #61a02c 0%, #8ae33e 100%);
}

.range6::after {
  background: linear-gradient(180deg, #6da02c 0%, #9ae33e 100%);
}

.range7::after {
  background: linear-gradient(180deg, #77a031 0%, #a9e346 100%);
}

.range8::after {
  background: linear-gradient(180deg, #77a031 0%, #a9e346 100%);
}

.range9::after {
  background: linear-gradient(180deg, #88a031 0%, #c1e346 100%);
}

.range10::after {
  background: linear-gradient(180deg, #8e9b2c 0%, #c9dc3e 100%);
}

.range11::after {
  background: linear-gradient(180deg, #8e9b2c 0%, #c9dc3e 100%);
}

.range12::after {
  background: linear-gradient(180deg, #8e9b2c 0%, #c9dc3e 100%);
}

.range13::after {
  background: linear-gradient(180deg, #8e9b2c 0%, #c9dc3e 100%);
}

.range14::after {
  background: linear-gradient(180deg, #9f9b2c 0%, #e1dc3e 100%);
}

.range15::after {
  background: linear-gradient(180deg, #9f902c 0%, #e1cc3e 100%);
}

.range16::after {
  background: linear-gradient(180deg, #9f902c 0%, #e1cc3e 100%);
}

.range17::after {
  background: linear-gradient(180deg, #9f902c 0%, #e1cc3e 100%);
}

.range18::after {
  background: linear-gradient(180deg, #9f902c 0%, #e1cc3e 100%);
}

.range19::after {
  background: linear-gradient(180deg, #9f8127 0%, #e1b637 100%);
}

.range20::after {
  background: linear-gradient(180deg, #9f6c27 0%, #e19937 100%);
}

.range21::after {
  background: linear-gradient(180deg, #9f6c27 0%, #e19937 100%);
}

.range22::after {
  background: linear-gradient(180deg, #9f6c27 0%, #e19937 100%);
}

.range23::after {
  background: linear-gradient(180deg, #9b5d21 0%, #db842f 100%);
}

.range24::after {
  background: linear-gradient(180deg, #8e5b17 0%, #c98120 100%);
}

.range25::after {
  background: linear-gradient(180deg, #9f5721 0%, #e17c2e 100%);
}

.range26::after {
  background: linear-gradient(180deg, #9f4921 0%, #e1672e 100%);
}

.range27::after {
  background: linear-gradient(180deg, #9f3e21 0%, #e1582e 100%);
}

.range28::after {
  background: linear-gradient(180deg, #9f2a1b 0%, #e13c26 100%);
}

.range29::after {
  background: linear-gradient(180deg, #9f161b 0%, #e11f26 100%);
}

.range::-webkit-slider-thumb {
  appearance: none;
  background-image: url('./thumb.png');
  background-size: cover;
  height: 22px;
  image-rendering: pixelated;
  position: relative;
  width: 28px;
  z-index: 1;
}

.range::-webkit-slider-thumb:active {
  background-image: url('./thumb-active.png');
}

.range::-moz-range-thumb {
  appearance: none;
  background-color: transparent;
  background-image: url('./thumb.png');
  background-size: cover;
  border-style: none;
  height: 22px;
  image-rendering: pixelated;
  position: relative;
  width: 28px;
  z-index: 1;
}

.range::-moz-range-thumb:active {
  background-image: url('./thumb-active.png');
}
