@font-face {
  font-family: pixelmix;
  src: url('./pixelmix.ttf');
}

.withBorder {
  border-bottom: 2px solid #59596d;
  border-left: 2px solid #1b1b2a;
  border-right: 2px solid #59596d;
  border-top: 2px solid #1b1b2a;
}
