.app {
  background-image: url('./windows-xp.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.player {
  position: absolute;
}

.dragArea {
  cursor: move;
  height: 28px;
  left: 0;
  position: absolute;
  right: 60px;
  top: 0;
}
